<div class="container">
  <div class="row">
    <!-- Contact Information -->
    <div class="col-md-6">
      <div class="transbox-contact">
        <h1>Talk to me</h1>
        <h3><u>Home:</u></h3>
        <p>Omaha, NE</p>

        <h3><u>Twitter:</u></h3>
        <p><%= link_to "@CoffinBuilder", url: "https://twitter.com/coffinbuilder" %></p>

        <h3><u>Instagram:</u></h3>
        <p><%= link_to '@St_Simulacra', url: "https://www.instagram.com/st_simulacra/" %></p>

        <h3><u>Curious Cat:</u></h3>
        <p><%= link_to 'Curious Cat', url: "https://curiouscat.me/CoffinBuilder" %></p>

        <h3><u>E-mail:</u></h3>
        <p><%= mail_to 'jrshafer@mac.com', 'E-mail me', subject: 'For InsomniaNoir' %></p>
      </div>
    </div>
    <!-- Quasi-profound profile picture -->
    <div class="col-md-6">
      <%= image_tag "AboutMePhoto.jpg", class: 'contact-image' %>
    </div>

  </div>
</div>
