<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<<<<<<< HEAD
    
=======
>>>>>>> 977b5321d2b4e3cce4d95fe96d74e5a8234525e1
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <!-- Navigation Links -->
          <%= render "shared/application_nav" %>

          <%= login_helper %>

          <%= yield %>

          <%= copyright_generator %>

          <%= source_helper("application") %>
        </div>
      </header>
    </div>
  </body>
</html>
